<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<h:head>
    <title>Игра</title>
</h:head>
<h:body>
    Вы загадали число: #{Number.getNumber()}?<br/><br/>
    <h:form>
        <h:commandButton value="Меньше" action="#{Number.next('l')}"></h:commandButton>&nbsp;
        <h:commandButton value="Равно" action="#{Number.next('e')}"></h:commandButton>&nbsp;
        <h:commandButton value="Больше" action="#{Number.next('b')}"></h:commandButton>
    </h:form>
</h:body>
</html>
