<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>Игра</title>
</h:head>
<h:body>
    <h:form>
        Нижний дипазон: <h:inputText value="#{Number.minNumber}"/><br/><br/>
        Верхний дипазон: <h:inputText value="#{Number.maxNumber}"/><br/><br/>
        <h:commandButton value="Играть!" action="game"></h:commandButton>
    </h:form>
</h:body>
</html>
